body{
	background-color:tomato;
	color: purple;
}

h1{
	color: blue;
}
h4{
	text-align: center;
	text-shadow: 3px 2px maroon
    font-style: italic;
    color: rgb(255,99,71);
}
h3{ 
	text-align: left;
	text-transform: capitalize;
    color: green;
    font-size: 19px;
}
h1{
	text-align: right;
	text-transform: lowercase;
	font-style: oblique;
}
h2{
	text-align: justify;
     text-decoration: underline;
     text-transform: uppercase;
     font-style: italic;
}



